@import '../common/mixin.styl'
@import '../common/variable.styl'
.fade-enter-active,.fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.x-dialog
    position fixed
    width 100%
    height 100%
    top 0
    left 0
    .x-dialog-mask
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-color rgba(0,0,0,0.75)
    .x-dialog-layer
        position absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        width: 85%
        border-radius: 6px
        background: #fff
        overflow hidden
        .x-dialog-layer_title
            padding 15px 0 0 0
            text-align center
            font-size 16px
            // margin: 0 0  15px 0
        .x-dialog-layer_content
            padding 20px 8px
            text-align center
            color #ccc
        .x-dialog-layer_footer
            position relative
            width 100%
            &::after 
                content ''
                position absolute
                top 0
                left 0
                width 200%
                height 200%
                transform scale(.5)
                transform-origin 0 0
                pointer-events none
                border 0 solid #e5e5e5
            .x-group-button
                &::after 
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 200%
                    height 200%
                    transform scale(.5)
                    transform-origin 0 0
                    pointer-events none
                    border 0 solid #e5e5e5
                .x-button
                    flex 1
                    &::after 
                        border 0
                .x-dialog-layer-confirm
                    color #00aeff
                