@import '../common/mixin.styl'
@import '../common/variable.styl'

.x-swiper
  overflow hidden
  position relative
  -webkit-user-select none
  user-select none
  height 200px
  .x-swiper_track
    height 100%
    .x-swiper-item
      height: 100%
      float left
      background-image linear-gradient(90deg, #00aeff, #3369e7)