@import '../common/mixin.styl'
@import '../common/variable.styl'

.x-swiper
  overflow hidden
  position relative
  -webkit-user-select none
  user-select none
  height 200px
  .x-swiper_track
    height 100%
    .x-swiper-item
      height: 100%
      float left
      background $color-default
  .x-swiper-dot
    width 8px
    height 8px
    border-radius 50%
    &.active
      background $btn-danger-bg