$color-default = #00aeff;
$color-disable = #A8A8A8;
$color-yellow  = #C92D27;
$text-default  = #333333;
$text-grey     = #666666;

// btn

$btn-primary-color  = #FFFFFF;
$btn-primary-bg     = #00aeff;
$btn-primary-active = rgba(0, 174, 255, 0.4);

$btn-normal-color  = #666666;
$btn-normal-bg     = #FFFFFF;
$btn-normal-active = #e8e8e8;

$btn-danger-color  = #FFFFFF;
$btn-danger-bg     = #C92D27;
$btn-danger-active = rgba(201, 45, 39, 0.4);

$btn-default-radius = 3px;
$btn-default-height = 44px;


// font-size vars
$fontsize-large-xxxx = 30px
$fontsize-large-xxx = 24px
$fontsize-large-xx = 20px
$fontsize-large-x = 18px
$fontsize-large = 16px
$fontsize-medium = 14px
$fontsize-small = 12px
$fontsize-small-s = 10px

// radius-size
$radius-size-medium = 5px
